<div class="top">
  <div class="top-header">
    <span class="top-header__title">
      My book
    </span>
    <div class="top-header__user">
      <% if user_signed_in? %>
        <div class="top-header__user--nickname">
          <%= current_user.nickname %>
          <%= link_to "ログアウト",destroy_user_session_path, method: :delete, class:"top-header__user--logout" %>
        </div>
      <% else %>
        <%= link_to "ログイン",new_user_session_path, class:"top-header__user--login" %>
        <%= link_to "新規登録",new_user_registration_path, class:"top-header__user--registration" %>
      <% end %>
    </div>
    <div class="top-search">
      <%= search_form_for(@q, url:search_path) do |s|%>
        <div class="top-search--content">
          <%= s.text_field :title_cont, placeholder: "何かお探しですか", class: "form-control"%>
          <%= s.submit "検索" %>
        </div>
      <% end %>
      <%# <% if @search_books.any?%>
        <%# <% @search_books.each do |result|%> 
          <%# <%= result.title %>
        <%# <% end %>
      <%# <% end %>  
    </div>
  </div>
  <div class="top-main">
    <%= link_to "本の新規登録ページへ", new_book_path,{class:"top-main__newlink"} %>
    <% @books.each do |book| %>
      <div class="top-main__content">
        <div class="top-main__content--box">
          <%= link_to image_tag(book.image.to_s),book_path(book.id) %><br>
          <%= book.title %>
        </div>
      </div>
    <% end %>
  </div>
</div>
