<div class="new-main">
  <h1 class="new-title">
    本の新規登録
  </h1>
   <%= link_to "トップページへ",root_path, class:"link-top" %>

  <%= form_with(model: @book, local: true) do |f| %>
    <div class="title-label">
      <%= f.label :タイトル %>
      <%= f.text_field :title, class:"title-label--area" %>
    </div>

    <div class="author-label">
      <%= f.label :著者 %>
      <%= f.text_field :author, class: "author-text"%>
    </div>

    <div class="genre-label">
      <%= f.label :ジャンル %>
      <% genre=[["選択してください","選択してください",1],["小説","小説",2],["ライトノベル","ライトノベル",3],["漫画","漫画",4],["資格","資格",5],["ビジネス","ビジネス",6],["その他","その他",7]] %>
      <%= f.select :genre, genre,selected:1 ,class:"genre-text" %>
    </div>

    <div class="image-label">
      <%= f.label :画像 %>
      <%= f.file_field :image %>
      <%# <p><%=f.check_box :remove_image画像を削除する</P> %>
    </div>

    <div class= "day-label">
      <%= f.label :購入日 %>
      <%= f.date_field :buyday, {class: "day--box"} %>
    </div>

    <div class= "other-label">
      <%= f.label :備考 %>
      <%= f.text_area :other, class:"other-text" %>
    </div>

    <div class= "submit">
      <%= f.submit :登録, class:"submit-btn" %>
    </div>
  <% end %>

</div>

